<a href="https://colab.research.google.com/github/luadeprataart/Basic-Python-study/blob/main/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python**

# Trabalhando com Variáveis

In [ ]:
a = 1.75

b = 'Isso é um texto'
print(b)

b = 3.5
print(b)

c = '3.75'
c = float(c)
print(c)

Isso é um texto
3.5

Variáveis não precisam ter seu **tipo** declarado de início. Além disso, mudanças de **tipo** de variável podem ser feitas automaticamente em qualquer momento.

# Listas

In [12]:
lista = [20, 25, 12, 35, 29, 12, 1] 

#Concatenação em listas
lista1 = ['do', 're', 'mi']
lista2 = ['fa', 'sol', 'la', 'si']

#Sublista
lista = ['Maria', 23, ['Porto Alegre', 'Caxias do Sul']] 
print (lista [2][1]) 
lista = lista1 + lista2 
print(lista) 

#Incluir um novo item ao final da lista 
lista.append('Guilherme') 
print(lista)

#Incluir um novo item a lista definindo dua posição 
lista.insert(3,'Ana')
print(lista)

#Obter se um valor está ou não contido em uma lista
resp = 'agua' in lista
print(resp)

#Operadores matemáticos em listas numericas
lista = [20, 25, 12, 35, 29, 12, 1] 

print(max(lista)) #Maior num da lista
print(min(lista)) #Menor num da lista
print(sum(lista)) #Soma dos itens da lista

#Deletando itens de uma lista
lista = ['pera','uva','maça','salada mista'] 
del lista[3] 
print(lista)

Caxias do Sul
['do', 're', 'mi', 'fa', 'sol', 'la', 'si']
['do', 're', 'mi', 'fa', 'sol', 'la', 'si', 'Guilherme']
['do', 're', 'mi', 'Ana', 'fa', 'sol', 'la', 'si', 'Guilherme']
False
35
1
134
['pera', 'uva', 'maça']

# Dicionário

É uma estrutura que pode conter diversos objetos que contêm uma chave e um valor no qual a chave é utilizada como índice para localizar determinado valor.

In [22]:
dicionário = {'200':'Ana', '250':'Isabel', '305':'Maria'}

#Transformando lista em dicionario
lista = [('200', 'Ana'), ('255', 'Isabel'), ('305', 'Maria')] #A lista deve estar composta por pares de tuplas
dicionario = dict(lista) 

#Localizar informações no dicionário
print (dicionario ['200']) #Usa a chave como referência de chamada

#Alterar e atualizar chave no dicionário
dicionario ['255'] = 'Ana' 
print(dicionario) 

#Adicionando uma nova entrada ao dicionario 
dicionario ['308'] = 'Pedro' 
print(dicionario)

dicionario.update({'109':'João', '144':'Betânia'}) 
print(dicionario)

#Removendo elementos do dicionário
del dicionario ['308'] 
print(dicionario)

Ana
{'200': 'Ana', '255': 'Ana', '305': 'Maria'}
{'200': 'Ana', '255': 'Ana', '305': 'Maria', '308': 'Pedro'}
{'200': 'Ana', '255': 'Ana', '305': 'Maria', '308': 'Pedro', '109': 'João', '144': 'Betânia'}
{'200': 'Ana', '255': 'Ana', '305': 'Maria', '109': 'João', '144': 'Betânia'}

# Operações com Strings

In [ ]:
a = "Seu nome é: "
print(a)

# Adiciona texto na String
a += "Ana"
print(a)

# Converte para letra maiúscula
print(a.upper())

# Converte para letra minúscula
print(a.lower())

# Adicionando um tipo int ou float em uma String
b = 10
a = "Você é nota " + str(b)
print(a)

# Outra maneira de adicinar um int ou float em uma String
b = 10.210387280740237
a = "%s! :D %1.4f" %(a,b)
print(a)

print(f"{b} é um float.")

c = 3
print("{} é um float. {} é um int".format(b,c))

# Seperando palavras do texto
d = 'arroz,feijão,batata,lentilha'
lista = d.split(',')
print(lista)

# Substituindo palavras 
d = d.replace('feijao', 'lentilha')
print(d)

#Remover letra da plavra
d = d.replace('lh', '')
print(d)

#Remover letra de uma palavra em especifico 
lista[1] = lista[1].replace ('lh','')
print(lista)

#Transformar lista em String
g =', '.join(lista)
print(d)

#Verificar tamanho String
print("Tamanho da String",len(d))

#Verificar quantidade de itens na lista
print("Tamanho da String",len(lista))

Seu nome é:
Seu nome é: Ana
SEU NOME É: ANA
seu nome é: ana
Você é nota 10
Você é nota 10! :D 10.2104
10.210387280740237 é um float.
10.210387280740237 é um float. 3 é um int
['arroz', 'feijão', 'batata', 'lentilha']
arroz,feijão,batata,lentilha
arroz,feijão,batata,lentia
['arroz', 'feijão', 'batata', 'lentilha']
arroz,feijão,batata,lentia
Tamanho da String 26
Tamanho da String 4

# Operações com números

In [ ]:
import numpy as np

#Soma
a = 5
b = a + 7
print(b)

#Multiplicação
a = a * a
print(a)

#Potencia
f = 2**3
print(f)

#Raiz
g = np.sqrt(16)
print(g)

#Verificando se valores são iguais 
print(a == 5)
print(a == 25)

12
25
8
4.0
False
True

# Estrutura de decisão

In [ ]:

valido = False


while not valido:
 valor = input('Digite um valor: ')
 try:
  valor = float(valor)

  if valor < 5:
   print('Menor que 5')
  elif valor == 5:
   print('O valor é 5')  
  elif valor >= 10 and valor <= 20:
   print('O valor é entre 10 e 20')  
  else :
   print('Maior que 5')  
  
  valido = True

 except:
  print("Você não digitou um número!")

Digite um valor: ana
Você não digitou um número!
Digite um valor: juju
Você não digitou um número!
Digite um valor: 1
Menor que 5

# Laços de repetição

**for**

In [23]:
#Imprimindo valores de 0 até 10 
for i in range(10):
  print(i)

#Imprimindo valores de uma lista
for i in lista:
  print(i)  

#Imprimindo valores de 2 até 20 pulando de 2 em 2
for i in range(2,20,2):
  print(i)

#Imprimindo valores de maneira decrescente
for i in range(10,-1,-1):
  print(i)

0
1
2
3
4
5
6
7
8
9
('200', 'Ana')
('255', 'Isabel')
('305', 'Maria')
2
4
6
8
10
12
14
16
18
10
9
8
7
6
5
4
3
2
1
0

**while**

In [ ]:
num = 3

while num < 10:
  print(num)
  num =  num +2

3
5
7
9

# Funções

In [ ]:
def somar(a,b):
  soma = a + b
  return soma

In [ ]:
total =somar(3,2)

print(total)

5